# This file may be used to create an environment using:
# $ conda create --name snakemake-tutorial -c bioconda --file <this file>
snakemake
samtools==0.1.19
hisat2==2.0.1beta
stringtie==1.2.2
r-base==3.2.2
r-devtools
r-dplyr
bioconductor-ballgown==2.2.0
bioconductor-biocinstaller
gffcompare==0.9.8
readline==6.2
